body {
    margin: 0;
    font-family: sans-serif;
}

#panel_left {
    float: left;
    width: 25%;
}

#middle {
    float: left;
    width: 50%;
    text-align: center;
}

#panel_right {
    float: right;
    width: 25%;
    text-align: right;
}

#ul_left {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

#ul_right {
    list-style-type: none;
    margin-left:auto; 
    margin-right:0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
  }
  
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.li_left a:hover {
    background-color: #c84834;
    color: white;
    cursor: pointer;
}

.li_right a:hover {
    background-color: #ff9a00;
    color: white;
    cursor: pointer;
}

.slider {
  cursor: grab;
}

.slider:active {
  cursor: grabbing;
}