<button id="upload_new" onclick="window.location.reload();">Upload new image</button> <br/> <br/>
<p id="loading" style="font-size: 12px"></p>
<button id="original">Original</button>
<button id="rgb2gray">RGB2GRAY</button>
<button id="im2bw">IM2BW</button>
<button id="unif_filt">Uniform Mask Filter</button>
<button id="gauss_filt">Gauss Mask Filter</button>
<div id="mask_opts" style="font-size: 14px" hidden>
    <br/> Selectati dimensiunea mastii pe care doriti sa o aplicati: <br/>
    <input type="radio" id="mask_3x3" name="mask_opt">
    <label for="mask_3x3">3x3 Mask Filter</label><br/>
    <input type="radio" id="mask_5x5" name="mask_opt">
    <label for="mask_5x5">5x5 Mask Filter</label><br>
    <input type="submit" id="exec_mask" value="Select">
</div>
<button id="roberts">Roberts Filter</button>
<button id="prewitt">Prewitt Filter</button>
<button id="sobel">Sobel Filter</button>
<button id="kirsch">Kirsch Filter</button>
<div id="rpsk_opts" style="font-size: 14px" hidden>
    <br/> Selectati punctul cardinal al filtrului pe care doriti sa-l aplicati: <br/>
    <input type="radio" id="nord" name="pct_card">
    <label for="nord">Nord</label><br/>
    <input type="radio" id="est" name="pct_card">
    <label for="nord">Est</label><br/>
    <input type="radio" id="sud" name="pct_card">
    <label for="nord">Sud</label><br/>
    <input type="radio" id="vest" name="pct_card">
    <label for="nord">Vest</label><br/>
    <input type="submit" id="exec_rpsk" value="Select">
</div>
<button id="min_filt">Min Filter</button>
<button id="max_filt">Max Filter</button>
<button id="median_filt">Median Filter</button>
<button id="medext_filt">Mean Filter</button>
<button id="range_filt">Range Filter</button>
<button id="disprange_filt">Dispersion-Range Filter</button>
<button id="alphamed_filt">α-Median Filter</button>
<div id="alphamed_slider" style="font-size: 14px" hidden>
    <br/> α = <span id="outputmed"></span> <br/>
    <input type="range" id="alphamed_value" min="1" max="4" value="1"><br/>
    <input type="submit" id="exec_alphamed" value="Select">
</div>
<button id="alphacom_filt">α-Complementary Filter</button>
<div id="alphacom_slider" style="font-size: 14px" hidden>
    <br/> α = <span id="outputcom"></span> <br/>
    <input type="range" id="alphacom_value" min="1" max="4" value="1"><br/>
    <input type="submit" id="exec_alphacom" value="Select">
</div>
<button id="alphaqsr_filt">α-Quasi-Range Filter</button>
<div id="alphaqsr_slider" style="font-size: 14px" hidden>
    <br/> α = <span id="outputqsr"></span> <br/>
    <input type="range" id="alphaqsr_value" min="1" max="3" value="1"><br/>
    <input type="submit" id="exec_alphaqsr" value="Select">
</div>
<hr/>
<button id="save" download="img.jpg">Save Image</button>
<script>
    $('#save').click(function (){
        var a  = document.createElement('a');
        a.href = $('#display_image').attr("src")
        a.download = "processed_image.jpg";
        a.click()
    });
    $('#original').click(function(){
        $('#display_image').attr('src',"static/uploads/img.jpg");
    });
    $('#rgb2gray').click(function(){
        $('#loading').text("Se incarca...");
        $.ajax({
            type: 'POST',
            url: '/rgb_to_gray',
            success: function(resp){
                $('#display_image').attr('src',resp.image_url_gray);
                $('#loading').text("");
            },
        });
    });
    (function(){
        var count = 0;
        $('#im2bw').click(function(){
            count += 1;
            var prag = prompt("Dati un prag cu valoare cuprinsa intre 0 si 255:");
            $('#loading').text("Se incarca...");
            if (parseInt(prag) > 255)
                prag = "255";
            else
                if(parseInt(prag) < 0)
                    prag = "0";
                else
                    if(parseInt(prag) > 0 && parseInt(prag) < 255){
                        //pass
                    }
                    else prag = "255"
            $.ajax({
                type: 'POST',
                url: '/gray_to_binary',
                data: prag + '.' + count,
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                success: function(resp){
                    $('#display_image').attr('src',resp.image_url_bw);
                    $('#loading').text("");
                },
            });
        });
    })();
    $('#unif_filt').click(function(){
        $('#mask_opts').show("slow");
        $('#exec_mask').click(function(){
            $('#mask_opts').hide("slow");
            if(document.getElementById('mask_3x3').checked) {
                $('#loading').text("Se incarca...");
                $.ajax({
                type: 'POST',
                url: '/uniform_filter_3x3',
                success: function(resp){
                    $('#display_image').attr('src',resp.image_url_unif_3x3);
                    $('#loading').text("");
                },
            });
            }else if(document.getElementById('mask_5x5').checked) {
                $('#loading').text("Se incarca...");
                $.ajax({
                type: 'POST',
                url: '/uniform_filter_5x5',
                success: function(resp){
                    $('#display_image').attr('src',resp.image_url_unif_5x5);
                    $('#loading').text("");
                },
            });
            }
        });
    });
    $('#gauss_filt').click(function(){
        $('#mask_opts').show("slow");
        $('#exec_mask').click(function(){
            $('#mask_opts').hide("slow");
            if(document.getElementById('mask_3x3').checked) {
                $('#loading').text("Se incarca...");
                $.ajax({
                    type: 'POST',
                    url: '/gauss_filter_3x3',
                    success: function(resp){
                        $('#display_image').attr('src',resp.image_url_gauss_3x3);
                        $('#loading').text("");
                    },
                });
            }else if(document.getElementById('mask_5x5').checked) {
                $('#loading').text("Se incarca...");
                $.ajax({
                    type: 'POST',
                    url: '/gauss_filter_5x5',
                    success: function(resp){
                        $('#display_image').attr('src',resp.image_url_gauss_5x5);
                        $('#loading').text("");
                    },
                });
            }
        });
    });
    $('#roberts').click(function(){
        $('#rpsk_opts').show("slow");
        $('#exec_rpsk').click(function(){
            $('#rpsk_opts').hide("slow");
            if(document.getElementById('nord').checked) {
                $('#loading').text("Se incarca...");
                $.ajax({
                    type: 'POST',
                    url: '/roberts_filter_N',
                    success: function(resp){
                        $('#display_image').attr('src',resp.image_url_roberts_N);
                        $('#loading').text("");
                    },
                });
            }else if(document.getElementById('est').checked) {
                $('#loading').text("Se incarca...");
                $.ajax({
                    type: 'POST',
                    url: '/roberts_filter_E',
                    success: function(resp){
                        $('#display_image').attr('src',resp.image_url_roberts_E);
                        $('#loading').text("");
                    },
                });
            }else if(document.getElementById('sud').checked) {
                $('#loading').text("Se incarca...");
                $.ajax({
                    type: 'POST',
                    url: '/roberts_filter_S',
                    success: function(resp){
                        $('#display_image').attr('src',resp.image_url_roberts_S);
                        $('#loading').text("");
                    },
                });
            }else if(document.getElementById('vest').checked) {
                $('#loading').text("Se incarca...");
                $.ajax({
                    type: 'POST',
                    url: '/roberts_filter_V',
                    success: function(resp){
                        $('#display_image').attr('src',resp.image_url_roberts_V);
                        $('#loading').text("");
                    },
                });
            }
        });
    });
    $('#prewitt').click(function(){
        $('#rpsk_opts').show("slow");
        $('#exec_rpsk').click(function(){
            $('#rpsk_opts').hide("slow");
            if(document.getElementById('nord').checked) {
                $('#loading').text("Se incarca...");
                $.ajax({
                    type: 'POST',
                    url: '/prewitt_filter_N',
                    success: function(resp){
                        $('#display_image').attr('src',resp.image_url_prewitt_N);
                        $('#loading').text("");
                    },
                });
            }else if(document.getElementById('est').checked) {
                $('#loading').text("Se incarca...");
                $.ajax({
                    type: 'POST',
                    url: '/prewitt_filter_E',
                    success: function(resp){
                        $('#display_image').attr('src',resp.image_url_prewitt_E);
                        $('#loading').text("");
                    },
                });
            }else if(document.getElementById('sud').checked) {
                $('#loading').text("Se incarca...");
                $.ajax({
                    type: 'POST',
                    url: '/prewitt_filter_S',
                    success: function(resp){
                        $('#display_image').attr('src',resp.image_url_prewitt_S);
                        $('#loading').text("");
                    },
                });
            }else if(document.getElementById('vest').checked) {
                $('#loading').text("Se incarca...");
                $.ajax({
                    type: 'POST',
                    url: '/prewitt_filter_V',
                    success: function(resp){
                        $('#display_image').attr('src',resp.image_url_prewitt_V);
                        $('#loading').text("");
                    },
                });
            }
        });
    });
    $('#sobel').click(function(){
        $('#rpsk_opts').show("slow");
        $('#exec_rpsk').click(function(){
            $('#rpsk_opts').hide("slow");
            if(document.getElementById('nord').checked) {
                $('#loading').text("Se incarca...");
                $.ajax({
                    type: 'POST',
                    url: '/sobel_filter_N',
                    success: function(resp){
                        $('#display_image').attr('src',resp.image_url_sobel_N);
                        $('#loading').text("");
                    },
                });
            }else if(document.getElementById('est').checked) {
                $('#loading').text("Se incarca...");
                $.ajax({
                    type: 'POST',
                    url: '/sobel_filter_E',
                    success: function(resp){
                        $('#display_image').attr('src',resp.image_url_sobel_E);
                        $('#loading').text("");
                    },
                });
            }else if(document.getElementById('sud').checked) {
                $('#loading').text("Se incarca...");
                $.ajax({
                    type: 'POST',
                    url: '/sobel_filter_S',
                    success: function(resp){
                        $('#display_image').attr('src',resp.image_url_sobel_S);
                        $('#loading').text("");
                    },
                });
            }else if(document.getElementById('vest').checked) {
                $('#loading').text("Se incarca...");
                $.ajax({
                    type: 'POST',
                    url: '/sobel_filter_V',
                    success: function(resp){
                        $('#display_image').attr('src',resp.image_url_sobel_V);
                        $('#loading').text("");
                    },
                });
            }
        });
    });
    $('#kirsch').click(function(){
        $('#rpsk_opts').show("slow");
        $('#exec_rpsk').click(function(){
            $('#rpsk_opts').hide("slow");
            if(document.getElementById('nord').checked) {
                $('#loading').text("Se incarca...");
                $.ajax({
                    type: 'POST',
                    url: '/kirsch_filter_N',
                    success: function(resp){
                        $('#display_image').attr('src',resp.image_url_kirsch_N);
                        $('#loading').text("");
                    },
                });
            }else if(document.getElementById('est').checked) {
                $('#loading').text("Se incarca...");
                $.ajax({
                    type: 'POST',
                    url: '/kirsch_filter_E',
                    success: function(resp){
                        $('#display_image').attr('src',resp.image_url_kirsch_E);
                        $('#loading').text("");
                    },
                });
            }else if(document.getElementById('sud').checked) {
                $('#loading').text("Se incarca...");
                $.ajax({
                    type: 'POST',
                    url: '/kirsch_filter_S',
                    success: function(resp){
                        $('#display_image').attr('src',resp.image_url_kirsch_S);
                        $('#loading').text("");
                    },
                });
            }else if(document.getElementById('vest').checked) {
                $('#loading').text("Se incarca...");
                $.ajax({
                    type: 'POST',
                    url: '/kirsch_filter_V',
                    success: function(resp){
                        $('#display_image').attr('src',resp.image_url_kirsch_V);
                        $('#loading').text("");
                    },
                });
            }
        });
    });
    $('#min_filt').click(function(){
        $('#loading').text("Se incarca...");
        $.ajax({
            type: 'POST',
            url: '/min_filter',
            success: function(resp){
                $('#display_image').attr('src',resp.image_url_min);
                $('#loading').text("");
            },
        });
    });
    $('#max_filt').click(function(){
        $('#loading').text("Se incarca...");
        $.ajax({
            type: 'POST',
            url: '/max_filter',
            success: function(resp){
                $('#display_image').attr('src',resp.image_url_max);
                $('#loading').text("");
            },
        });
    });
    $('#median_filt').click(function(){
        $('#loading').text("Se incarca...");
        $.ajax({
            type: 'POST',
            url: '/median_filter',
            success: function(resp){
                $('#display_image').attr('src',resp.image_url_median);
                $('#loading').text("");
            },
        });
    });
    $('#medext_filt').click(function(){
        $('#loading').text("Se incarca...");
        $.ajax({
            type: 'POST',
            url: '/medext_filter',
            success: function(resp){
                $('#display_image').attr('src',resp.image_url_medext);
                $('#loading').text("");
            },
        });
    });
    $('#range_filt').click(function(){
        $('#loading').text("Se incarca...");
        $.ajax({
            type: 'POST',
            url: '/range_filter',
            success: function(resp){
                $('#display_image').attr('src',resp.image_url_range);
                $('#loading').text("");
            },
        });
    });
    $('#disprange_filt').click(function(){
        $('#loading').text("Se incarca...");
        $.ajax({
            type: 'POST',
            url: '/disprange_filter',
            success: function(resp){
                $('#display_image').attr('src',resp.image_url_disprange);
                $('#loading').text("");
            },
        });
    });
    $('#alphamed_filt').click(function(){
        $('#alphamed_slider').show("slow");
        $('#outputmed').text($('#alphamed_value').val());
        $('#alphamed_value').on('input', function(){
                $('#outputmed').text($(this).val());
                // var alpha = $('#alphamed_value').val();
                // $.ajax({
                //     type: 'POST',
                //     url: '/alphamed_filter',
                //     data: alpha,
                //     success: function(resp){
                //         $('#display_image').attr('src',resp.image_url_alphamed);
                //         $('#loading').text("");
                //     },
                // });               
        });
        $('#exec_alphamed').click(function(){
            $('#alphamed_slider').hide("slow");
            var alpha = $('#alphamed_value').val();
            $.ajax({
                type: 'POST',
                url: '/alphamed_filter',
                data: alpha,
                success: function(resp){
                    $('#display_image').attr('src',resp.image_url_alphamed);
                    $('#loading').text("");
                },
            });
        });
    });
    $('#alphacom_filt').click(function(){
        $('#alphacom_slider').show("slow");
        $('#outputcom').text($('#alphacom_value').val());
        $('#alphacom_value').on('input', function(){
                $('#outputcom').text($(this).val());
                // var alpha = $('#alphamed_value').val();
                // $.ajax({
                //     type: 'POST',
                //     url: '/alphamed_filter',
                //     data: alpha,
                //     success: function(resp){
                //         $('#display_image').attr('src',resp.image_url_alphamed);
                //         $('#loading').text("");
                //     },
                // });               
        });
        $('#exec_alphacom').click(function(){
            $('#alphacom_slider').hide("slow");
            var alpha = $('#alphacom_value').val();
            $.ajax({
                type: 'POST',
                url: '/alphacom_filter',
                data: alpha,
                success: function(resp){
                    $('#display_image').attr('src',resp.image_url_alphacom);
                    $('#loading').text("");
                },
            });
        });
    });
    $('#alphaqsr_filt').click(function(){
        $('#alphaqsr_slider').show("slow");
        $('#outputqsr').text($('#alphaqsr_value').val());
        $('#alphaqsr_value').on('input', function(){
                $('#outputqsr').text($(this).val());
                // var alpha = $('#alphamed_value').val();
                // $.ajax({
                //     type: 'POST',
                //     url: '/alphamed_filter',
                //     data: alpha,
                //     success: function(resp){
                //         $('#display_image').attr('src',resp.image_url_alphamed);
                //         $('#loading').text("");
                //     },
                // });               
        });
        $('#exec_alphaqsr').click(function(){
            $('#alphaqsr_slider').hide("slow");
            var alpha = $('#alphaqsr_value').val();
            $.ajax({
                type: 'POST',
                url: '/alphaqsr_filter',
                data: alpha,
                success: function(resp){
                    $('#display_image').attr('src',resp.image_url_alphaqsr);
                    $('#loading').text("");
                },
            });
        });
    });
</script>