{% extends 'base.html' %}

{% block head %}
<title>Upload</title>
{% endblock %}

{% block body %}
<h1> Uploaded </h1>
    <div id="img">
        <img src="{{url_for('static', filename = image_url)}}">
    </div>
    <br/>
    <button id="rgb2gray">RGB2GRAY</button> <button id="gray2rgb">GRAY2RGB</button> <button id="btn">Process</button>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready( function() {
            $("#rgb2gray").click(function(){
                $("#img").html("<img src='{{url_for('static', filename = image_url_gray)}}'>");
            });
            $("#gray2rgb").click(function(){
                $("#img").html("<img src='{{url_for('static', filename = image_url)}}'>");
            });
            // var photo = {{url_for('static', filename = image_url)}}
            $("#btn").click(function(){
                $.ajax({
                url: '/process_image/',
                type: 'get',
                success: function(data) {
                    console.log(data);
                }, 
            });
            });
        });
    </script>
{% endblock %}