{% extends 'base.html' %}

{% block head %}
<title> Editor Imagine </title>
{% endblock %}

{% block body %}
<div id="main">
<div id="panel_left">
<br>
</div>
<div id="middle">
<h1  id="header"> Upload new image </h1>
<form id="FileForm" name="imgfile" enctype="multipart/form-data">
    <input type="file" name="imgfile" id="imgfile"  accept="image/*"/>
</form>

<img class="NO-CACHE" id="display_image" src=""> <br>
<p id="loading" style="font-size: 12px"></p>
<button id="upload_new" onclick="window.location.reload();" hidden>Upload new image</button> 
<button id="save" download="img.png" hidden>Save Image</button>
</div>

<div id="panel_right">

</div>
</div>

<script>
    $('#imgfile').change(function(){
        var formDataRaw = $('#FileForm')[0];
        var form_data = new FormData(formDataRaw);
        $.ajax({
            type: 'POST',
            url: '/uploadimg',
            data: form_data,
            contentType: false,
            processData: false,
            async: false,
            success: function(resp){
                if(resp.error == 1){
                    $('#middle').prepend("<p>Eroare: Este permisa doar incarcarea de imagini (extensii permise: 'jpg', 'jpe', 'jpeg', 'png', 'gif', 'svg', 'bmp').</p>");
                    $('#header').text("");
                    $('#FileForm').hide();
                    $('#upload_new').show();
                }
                else{
                    $('#header').text("Uploaded");
                    $('#FileForm').slideUp("fast");
                    $('#display_image').attr('src',resp.image_url);
                    $('#upload_new').show();
                    $('#save').show();
                    $('#panel_left').append(resp.rendered_left);
                    $('#panel_right').append(resp.rendered_right);
                }
            },
        });
    });
</script>
{% endblock %}