{% extends 'base.html' %}

{% block head %}
<title>Upload</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% endblock %}

{% block body %}
<h1  id="header"> Upload new image </h1>
<form id="FileForm" name="imgfile" enctype="multipart/form-data">
    <input type="file" name="imgfile" id="imgfile" />
    <input type="button" name="submit" value="submit" onclick="StartProcess()" />
</form>

<img id="display_image" src="">

<div id="panel">

</div>

<script>
    function StartProcess(){
        var formDataRaw = $('#FileForm')[0];
        var form_data = new FormData(formDataRaw);
        $.ajax({
            type: 'POST',
            url: '/uploadimg',
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
            async: false,
            success: function(data){
                $('#header').text("Uploaded");
                $('#FileForm').hide("fast");
                $('#display_image').attr('src',data.image_url);
                $('#panel').append(data.rendered)
            },
        });
    };
</script>
{% endblock %}